/*------Utilities--------*/
body {
  padding-top: 20px;
}

/*-----Search & Sort boxes----------*/


#search_container, #sort_container{
	clear:both;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 10px;
}

input#search_box, #sort_container select{	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	width: 80%;	
}

/*-------List items------*/
ul.bestsellers{
	clear:both;
	width: 100%;
	padding:5px;
	list-style: none;
}

.bestsellers li {
  width: 90%;
  margin-left: 10px;
}

.bestsellers li.panel{
	display: inline-block;
	padding:0px;
}

li .panel-title{
	font-size: 14px;
}

li.panel img {
  float: left;
  width: 100px;
  height: 155px;
  padding:5px;
}

li.panel .book_info{
	padding:5px 5px 0 5px;
	float: left;
	width:65%;
	text-align:justify
}

.bold{
	font-weight: bold;
}

/******Media Queries********/
@media screen and (min-width: 720px){ 
	.bestsellers li {
		 width: 45%
	}
	#search_container{
		clear:none;
		float:right;
		width: 40%;
	}	

	#sort_container{
		clear:none;
		float:left;
		width: 40%;
	}
	
	input#search_box, #sort_container select{
		width: 60%;
	}
	
	#search_header{
		margin-left: 20px;
	}
	
	li.panel .book_info{
		padding:5px 5px 0 5px;
		float: left;
		width:70%;
		text-align:justify;
	}
}

@media screen and (min-width: 440px){ 
	li.panel .book_info{
	padding:5px 5px 0 5px;
	float: left;
	width:65%;
	text-align:justify;
	}
}

@media screen and (min-width: 1135px){ 
	.bestsellers li {
		 width: 32%
	}
}