/*------Utilities--------*/
body {
  padding-top: 20px;
}

/*-----Sort option----------*/
#sort_container{
	float:left;
	margin-left:20px;
}

/*-----Search box----------*/
#search_container{
	float:right;
	margin-right:25px;
}

input#search_box{	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
}

/*-------List items------*/
ul.bestsellers{
	clear:both;
	width: 100%;
	padding:5px;
	list-style: none;
}

.bestsellers li {
  width: 90%;
  margin-left: 10px;
}

.bestsellers li.panel{
	display: inline-block;
	padding:0px;
}

li.panel .thumb {
  float: left;
  width: 100px;
}

li.panel .thumb img{
	height: 155px;
	padding:5px;
}

li.panel .book_info{
	padding: 5px;
	float: left;
}



ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}



/******Media Queries********/
@media screen and (min-width: 500px){ 
	.bestsellers li {
		 width: 45%
	}
}

@media screen and (min-width: 800px){ 
	.bestsellers li {
		 width: 32%
	}
}