<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">

      Sort by:
      <select ng-model="orderProp">
        <option value="book_details[0].title[0]">Alphabetical by Title</option>
        <option value="book_details[0].author.split(' ')[1];">Alphabetical by Author</option>
        <option value="rank">Rank</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="bestsellers">
        <li ng-repeat="bestseller in bestsellers | filter:query | orderBy:orderProp"
            class="thumbnail book-cover">
          <a href="#/bestsellers/bestsellers/{{bestseller.list_image}}" class="thumb"><img ng-src="{{bestseller.book_details[0].book_image}}"></a>
          {{bestseller.rank}}
          <a href="#/bestsellers/bestsellers/{{bestseller.book_details[0].primary_isbn13}}">{{bestseller.book_details[0].title}}</a>
          <p>{{bestseller.book_details[0].author}}</p>
      {{bestseller.book_details[0].publisher}}

			
        </li>
      </ul>

    </div>
  </div>
</div>
