<div class="container-fluid">
  <div class="row-fluid">
	<div id="search_header">		
		<div id="search_container">			
			Search: <input id="search_box" ng-model="query">
		</div>	

		<div id="sort_container">			
			  Sort by:
			  <select ng-model="orderProp">
				<option value="book_details[0].title[0]">Alphabetical by Title</option>
				<option value="book_details[0].author.split(' ')[1];">Alphabetical by Author</option>
				<option value="rank">Rank</option>
			  </select>
		 </div>	  
	  </div>
    
   
      <!--Body content-->

      <ul class="bestsellers">
        <li ng-repeat="bestseller in bestsellers | filter: query | orderBy:orderProp" class="panel panel-info">
            <div class="panel-heading">
          		<h3 class="panel-title">{{bestseller.rank}}. {{bestseller.book_details[0].title}}</h3>
          	</div>
			<img ng-src="{{bestseller.book_details[0].book_image}}">
         	<div class="book_info">
          		{{bestseller.book_details[0].description}}<br/>
          		<span class="bold">Author:</span> {{bestseller.book_details[0].author}}<br/>
          		<span class="bold">Publisher:</span> {{bestseller.book_details[0].publisher}}
          		
      			
			</div>
        </li>
      </ul>
  </div>
</div>
